<footer class="footer">

    <div class="footer__text_container max-height flex-xy">
        <span class="footer__text"> &copy; Ivo Zilkenat (2021)</span>
    </div>

    <div class="footer__link_container max-height">
        <div class="flex-row flex-xy max-height">
            <div class="footer__link_anchor_container">
                <a class="navigation__link flex-xy" href="/gift1">Geschenk 1</a>
            </div>
            <div class="footer__link_anchor_container">
                <a class="navigation__link flex-xy" href="/gift2">Geschenk 2</a>
            </div>
            <div class="footer__link_anchor_container">
                <a class="navigation__link flex-xy" href="/gift3">Geschenk 3</a>
            </div>
        </div>
    </div>

</footer>