<nav class="navigation-bar">
    <div class="max-height desktop-nav">
        <div class="max-height flex-row">
            <ul>
                <li class="nav__item">
                    <a class="navigation__link flex-xy" href="/">
                        <span class="anchor-span">Startseite</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a class="navigation__link flex-xy" href="/gift1">
                        <span class="anchor-span">Geschenk 1</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a class="navigation__link flex-xy" href="/gift2">
                        <span class="anchor-span">Geschenk 2</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a class="navigation__link flex-xy" href="/gift3">
                        <span class="anchor-span">Geschenk 3</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>