<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <title>Geschenk Nr.2</title>
</head>
<body>

    <!-- Navigation Bar -->
    
    <%- include ('partials/navTop.ejs') %>
    
    <!-- Sections  -->

    <section>

        <div class="intro__container_header">
            Geschenk 2
        </div>

        <div class="container-secondary flex-column flex-xy">
            <div class="intro__container_text" id="present_3__text_container">
                <p class="intro__paragraph">
                    Nach dem du dich so wacker geschlagen hast, kommen wir nun zum 2. Geschenk.
                    <br>
                    Hierfür musst du ein Spiel spielen, dass dir sehr geläufig ist. Ein Spiel wobei vor allem deine kognitive Fähigkeit des Einprägens gefragt ist.
                    Du hast es sicherlich schon erraten. Du spielst <b>Memory</b>.
                    <br>
                    Diesmal zwar alleine, aber mit einem kleinen Twist. Wenn du alle Karten korrekt aufgedeckt hast, erhälst du dein Geschenk.
                </p>
            </div>
            <!-- Add input here, so that user has to enter "Mau Mau" -->
        </div>

        <div class="memory_container_wrapper flex-column flex-xy">
            <div class="flex-row flex-xy">

                <div class="memory_card__container">
                    Das ist eine memory karte
                </div>

            </div>
        </div>

    </section>

</body>
</html>