<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <title>Geschenk Nr.3</title>
</head>
<body onload="loadVerifiedChallengs()">

    <!-- Navigation Bar -->
    
    <%- include ('partials/navTop.ejs') %>
    
    <!-- Sections  -->

    <section>

            <div class="intro__container_header">
                Geschenk 3
            </div>

            <div class="container-secondary flex-column flex-xy">
            
                <div class="intro__container_text" id="present_3__text_container">
                    <p class="intro__paragraph">
                        Um das dritte Geschenk freizuschalten, musst du diesmal eine Reihe an Aufgaben erfüllen.
                        <br>
                        Dabei musst du jede erfüllte Aufgabe, zur Verifizierung, mit einem Beweisbild/video an mich per <b>Whatsapp</b> schicken.
                        <br>
                        Solltes du alle Aufgaben erfolgreich erfüllt haben, erfährst du welches letzte Geschenk auf dich wartet :). 
                        <br>
                    </p>
                </div>

                <!-- Challenges -->

                <div id="challenge1" class="challenge__container flex-column">
                    <h2 class="challenge__heading">
                        Aufgabe 1
                    </h2>        
                    <p class="challenge__paragraph">
                        Fangen wir leicht an: Mache ein Bild von dir und deiner Familie.
                    </p>
                    <div class="challenge__container_status">
                        <b>Status:</b>
                        <span class="challenge__status">
                            Nicht erledigt
                        </span>
                    </div>
                </div>

                <div id="challenge2" class="challenge__container flex-column">
                    <h2 class="challenge__heading">
                        Aufgabe 2
                    </h2>
                    <p class="challenge__paragraph">
                        Mache einen Handstand
                    </p>
                    <div class="challenge__container_status">
                        <b>Status:</b>
                        <span class="challenge__status">
                            Nicht erledigt
                        </span>
                    </div>
                </div>

                <div id="challenge3" class="challenge__container flex-column">
                    <h2 class="challenge__heading">
                        Aufgabe 3
                    </h2>
                    <p class="challenge__paragraph">
                        Lege dich in den Schnee und mache einen Schneeengel.
                    </p>
                    <div class="challenge__container_status">
                        <b>Status:</b>
                        <span class="challenge__status">
                            Nicht erledigt
                        </span>
                    </div>
                </div>

                <div id="challenge4" class="challenge__container flex-column">
                    <h2 class="challenge__heading">
                        Aufgabe 4
                    </h2>
                    <p class="challenge__paragraph">
                        Lass dich von einem Schneeball abwerfen (nicht solala + Zeitlupenaufnahme).
                    </p>
                    <div class="challenge__container_status">
                        <b>Status:</b>
                        <span class="challenge__status">
                            Nicht erledigt
                        </span>
                    </div>
                </div>

                <div id="challenge5" class="challenge__container flex-column">
                    <h2 class="challenge__heading">
                        Aufgabe 5
                    </h2>
                    <p class="challenge__paragraph">
                        Baue eine(n) Schneemann/frau.
                    </p>
                    <div class="challenge__container_status">
                        <b>Status:</b>
                        <span class="challenge__status">
                            Nicht erledigt
                        </span>
                    </div>
                </div>

                <div id="challenge6" class="challenge__container flex-column">
                    <h2 class="challenge__heading">
                        Aufgabe 6
                    </h2>
                    <p class="challenge__paragraph">
                        Drücke dein Gesicht in einen Haufen Schnee.
                    </p>
                    <div class="challenge__container_status">
                        <b>Status:</b>
                        <span class="challenge__status">
                            Nicht erledigt
                        </span>
                    </div>
                </div>

                <input class="btn-1 present_reveal__btn present_reveal__btn-blocked" type="button" value="Schalte dein 3. Geschenk frei!" onclick="showPresent()">

                <div class="present_reveal__container hide">
                    <p class="present_reveal__paragraph">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quis, deserunt, exercitationem repudiandae repellat quidem incidunt excepturi officia debitis, tenetur delectus in. Aliquid, numquam porro mollitia provident a unde error?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, eveniet expedita. Eum exercitationem debitis, sit optio deserunt cumque ducimus eaque ea, nesciunt, voluptates placeat obcaecati repudiandae earum quaerat expedita assumenda.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eveniet dicta nisi, dolor temporibus quia illo autem error dolorem numquam magni beatae molestias omnis, aspernatur sint expedita deleniti cum asperiores!
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae debitis, temporibus, reiciendis veniam rerum illo, tempora dignissimos sapiente voluptatum voluptatibus placeat saepe quo consectetur odio fugiat dolorum nostrum? Repudiandae, et!
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid ipsa quisquam necessitatibus neque obcaecati sapiente aspernatur quibusdam sit laboriosam dolore, reprehenderit enim odio asperiores, perferendis voluptate minus consequatur soluta est?
                    </p>
                </div>

            </div>

    </section>

<script>

    const socket = new WebSocket("ws://" + window.location.host); // use ws or wss protocol?

    const challengePrefix = "challenge";
    const challengeStatusClass = "challenge__status";
    const challengePClass = "challenge__paragraph";
    const verfiyCssClass = "challenge__finished";
    const verifyCssClassText = "challenge__finished-text";

    const presentRevealBtnBlockClass = "present_reveal__btn-blocked";
    const presentRevealBtnClass = "present_reveal__btn";

    const presentRevealClass = "present_reveal__container";
    const hideCssClass = "hide";
    const animationCssClass = "present_reveal-animation";

    const challengeCount = 6;

    const user = JSON.parse('<%- JSON.stringify(user) %>');

    function allChlVerified() {
        let finished = document.getElementsByClassName(verfiyCssClass);
        return (finished.length == challengeCount) ? true : false;
    }

    function verfifyChallenge(challengeNum) {
        var challengeElement = document.getElementById(challengePrefix + challengeNum);
        challengeElement.classList.add(verfiyCssClass);
        var paragraph = challengeElement.querySelector("." + challengePClass);
        paragraph.classList.add(verifyCssClassText);
        var statusLabel = challengeElement.querySelector("." + challengeStatusClass);
        statusLabel.innerHTML = "Erledigt";
    
        if (allChlVerified()) {
            var btn = document.querySelector("." + presentRevealBtnClass);
            if (btn.classList.contains(presentRevealBtnBlockClass)) {
                btn.classList.remove(presentRevealBtnBlockClass);
            } 
        }
    }

    function loadVerifiedChallengs() {
        for (let i = 1; i < challengeCount+1; i++) {
            if (user.info.additionalPresentData[3].challenges.finished[i]) {
                verfifyChallenge(i);
            }
        }
    }

    socket.addEventListener("message", (event) => {
        var data = JSON.parse(event.data);
        switch(data.type) {
            case "verifyChallenge":
                verfifyChallenge(data.chlNum);
                break;
        }
    })

    socket.addEventListener("open", (event) => {
        var data = {
            type: "newUser",
            userName: user.name,
            date: Date.now()
        }
        socket.send(JSON.stringify(data));
    })

    function showPresent() {
        if (!allChlVerified()) {
            // challenges havent been completed
        } else {
            revealPresent();
        }
    }

    // todo: outsource function for the gifts
    function revealPresent() {
        
        var presentElement = document.querySelector("." + presentRevealClass);
        if (!presentElement.classList.contains(hideCssClass)) {
            return;
        } 

        presentElement.classList.remove(hideCssClass);
        presentElement.classList.add(animationCssClass);

        setTimeout(() => {
            presentElement.classList.remove(animationCssClass);
        }, 500)
    };

    // socket.addEventListener("message", (event) => {
    //     console.log("message from server: " + event.data);
    // })

    // function sendMsg(content) {
    //     socket.send(content);
    // }

</script>
</body>
</html>