<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <title>Merry fucking Christmas</title>
</head>

<body>

    <!-- Navigation Bar --> 

    <%- include ('partials/navTop.ejs') %>

    <!-- Sections  -->

    <div class="sections__container body-flex-wrapper">

        <!-- Welcome Section -->

        <section class="content__section">
            <div class="welcome__main_container flex-xy">
                <div class="welcome__header_container">
                    <h1>Merry Christmas</h1>
                </div>
            </div>
        </section>

        <!-- Intro Section -->

        <section class="content__section">
            <div class="intro__main_container flex-column flex-xy">
                <div class="intro__container_header">
                    <h3>Frohe Weihnachten Flitzi❤️</h3>
                </div>
                <div class="intro__container_text">
                    <p class="intro__paragraph important">
                        Leider können wir dieses Jahr unser erstes Weihnachten nicht zusammen verbringen *trauriger Smiley*.
                        <br>
                        Trotzdem wollte ich etwas besonderes für dich machen, weswegen ich mich dafür entschieden habe dir eine Webiste zu machen.
                        <br> 
                        Die Website an sich ist gar nicht allzu nützlich, aber sie übernimmt eine fundametale Aufgabe, die ich gerne persönlich übernommen hätte.
                        <br>
                        Sie überbringt dir deine Weihnachtsgeschenke. 
                        <br>
                        Ich hoffe einfach mal, dass das noch niemand für dich gemacht hat.
                    </p>
                </div>
            </div>
        </section>

        <!--  -->

        <section class="content__section">

        </section>

        <!-- Footer -->

        <%- include ("partials/footerBottom.ejs") %>

    </div>



</body>

</html>