<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <title>Geschenk Freischalten</title>
</head>
<body>
    <!-- Navigation Bar -->
    
    <%- include ('partials/navTop.ejs') %>
    
    <!-- Sections  -->

    <section>

        <div class="code__container flex-column flex-xy">
            <h1 class="code__heading">Hier kannst du das Geschenk <u>Nr.<%= giftNum %></u> freischalten!</h1>
            
            <div class="code__img_container">
                <img src="/img/question-mark.png" alt="" class="image-fill">
            </div>

            <form class="login__form max-widht flex-column flex-xy" method="POST">
                <input id="code__input" class="text-input-1" type="text" name="code" placeholder="Code">
                <input id="code__submit" class="btn-1" type="submit" value="Submit Code">
            </form>
            <!-- is this a good solution? -->
        </div>

        <% if (validCode=="false" ) { %>
            <div class="code__container-secondary flex-colum flex-xy">
                <p class="feedback-paragraph text-error">
                    Invalid Code
                </p>
            </div>
            <% } %>

    </section>

    
</body>
</html>