/*  Generelles */

html {
    --dark-red: #c90000;
    --darker-red: #8b0000;
    --white: #ffffff;
    --dark-gray: #131313;
    --lighter-gray: #272727;

    --dark-green: #007000;
    --light-green: #009900;

    
    --error-red: #ff0000;
    --success-green: #00c400;
    
    font-size: 16px;
}

body {
    /* width * 1.5 = height */
    --card-width: 150px; 
    --card-height: 225px;

    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--dark-red);
    line-height: 1.6;
}

.body-error {
    background-color: var(--error-red);
}

.body-success {
    background-color: var(--success-green);
}

section {
    margin: 0 0 0 0;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-x {
    display: flex;
    justify-content: center;
}

.flex-y {
    display: flex;
    align-items: center;
}

.flex-xy {
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (max-width: 1366px) {

    section {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

}

@media (max-width: 1024px) {

    section {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

}

@media (min-width: 768px) {

    section {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

}

/* Generic elements */

.text-box-1 {
    background-color: var(--white);
    width: 50%;
    padding: 1.5rem;
    border-radius: 10px;
    word-wrap: break-word;
    text-align: left;
}

.text-box-1-small {
    background-color: var(--white);
    width: 30%;
    padding: 1.5rem;
    border-radius: 10px;
    word-wrap: break-word;
    margin-bottom: 1rem;
}

.text-error {
    color: var(--error-red);
    font-weight: 500;
    font-size: large;
}

.text-success {
    color: var(--success-green);
    font-weight: 500;
    font-size: large;
}

.btn-1 {
    background-color: #f1f1f1;
    font-size: 1rem;
    font-weight: bold;
    width: 200px;
    height: 40px;
    border-radius: 6px;
    border: none;
    /* border: none; */
}
.btn-1:hover {
    background-color: #cfcfcf;
    border-top: 2px solid #929292;
    border-left: 2px solid #929292;
    border-right: 2px solid #929292;
}


.btn-2 {
    background-color: var(--light-green);
    font-size: 1rem;
    font-weight: bold;
    width: 200px;
    height: 40px;
    border-radius: 6px;
    border: none;
    /* border: none; */
}
.btn-2:hover {
    background-color: var(--dark-green);
    border-top: 2px solid #929292;
    border-left: 2px solid #929292;
    border-right: 2px solid #929292;
}

.btn-3 {
    background-color: #f1f1f1;
    font-size: 1rem;
    font-weight: bold;
    width: 200px;
    height: 40px;
    border-radius: 6px;
    border: none;
    /* border: none; */
}

.btn-4 {
    background-color: #f1f1f1;
    font-size: 1rem;
    font-weight: bold;
    width: 200px;
    height: 50;
    border-radius: 10px 10px 0 0;
    border: none;
    /* border: none; */
}
.btn-4:hover {
    background-color: #cfcfcf;
    border-top: 2px solid #929292;
    border-left: 2px solid #929292;
    border-right: 2px solid #929292;
}

.btn-ready {
    background-color: var(--success-green);
}

.btn-ready:hover {
    background-color: var(--dark-green);
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
}

.btn-notready {
    background-color: var(--error-red);
}

.btn-notready:hover {
    background-color: var(--dark-red);
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
}

.text-input-1 {
    font-size: large;
    font-weight: 600;
    background-color: #c2c2c2;
    border: none;
    text-align: center;
    border-radius: 5px;
    width: 75%;
    height: 35px;
}

#login__submit {
    margin-top: 2rem;
}

.hide {
    display: none !important;
}

.invisible {
    opacity: 0 !important;
}

.important {
     font-weight: bold;
}

.active {
     background-color: #A62C21 !important;
}

.screenreader {
     display: none;
}

.body-flex-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.max-height {
    height: 100%;
}

.max-widht {
    width: 100%;
}

.container-secondary {
    background-color: var(--darker-red);
    padding: 2rem 0 2rem 0;
    width: 60%;
    border-radius: 20px;
}

/* Elements */


h1 {
    font-size: 6rem;
    color: var(--white);
    margin: 0 0 0 0;
}

.welcome__main_container {
    background-color: var(--dark-green);
    width: 100%;
    height: 15vh;
    border-radius: 0 0 50px 50px;
}

.intro__main_container {
    margin-top: 5rem;
    width: 90%;
}

.intro__container_header {
    color: var(--white);
    font-size: 1.7rem;
    border-radius: 10px;
    width: 40%;
    background-color: var(--dark-gray);
    margin-bottom: 2rem;
    padding: 0 2rem 0 2rem;
}

.intro__container_text {
    font-size: 1.1rem;
    border-radius: 10px;
    width: 80%;
    color: #ffffff;
    background-color: var(--dark-gray);
    margin-bottom: 3rem;
}

.intro__paragraph {
    padding: .7rem 1.4rem .7rem 1.4rem;
}

.login__heading {
    color: black;
    margin: .1rem;
}

.login__form {
    margin-top: 1rem;
}

.login__label {
    margin-top: 2rem;
    margin-bottom: .5rem;
    font-size: large;
    font-weight: 500;
}

.login__img_container {
    height: 50vh;
}

.image-fill {
    max-width: 100%;
    max-height: 100%;
}

.present_code__container {
    background-color: var(--dark-gray);
    padding: 1rem 5rem 1rem 1rem;
    border-radius: 20px;
    width: 35%;
}

.present_code__text_container {
    margin: 0;
    margin-right: 5rem;
    text-align: left;
}

.present_code__code_container {
    margin-left: 1.4rem;
    padding: .7rem 1rem .7rem 1rem;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 20px;
}

.present_btn__container {
    height: 20vh;
}

.present_btn__overlap {
    box-sizing: border-box;
    position: absolute;
    bottom: 40%;
    width: 100%;
    border-radius: 10px;
    border-color: var(--dark-gray);
    border: 2px solid black;
    background-color: #39B449;
    padding: .3rem 0 .3rem 0;

    transition: all .2s ease-in-out;
}

.present_btn__overlap:hover {
    background-color: #1d922d;
    transform: scale(1.1);
}

.present_btn__anchor_container {
    height: 100%;
    position: relative;
}

.present_btn__anchor {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.present_btn__anchor:hover {
    color: white;
}

.code__container {
    width: 70%;
    background-color: var(--dark-gray);
    border-radius: 20px;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.code__container-secondary {
    width: 50%;
    background-color: var(--dark-gray);
    border-radius: 20px;
    margin-top: 2rem;
}

.code__heading {
    font-size: 2rem;
    color: var(--white);
    background-color: var(--lighter-gray);
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 1rem;
    border-radius: 20px;
}

#code__input {
    width: 40%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}  

.code__img_container {
    height: 40vh;
}

#present_3__text_container {
    width: 90%;
}

.challenge__heading {
    font-weight: bolder;
    margin-bottom: 1.5rem;
    margin-top: .1rem;
}

.challenge__container {
    position: relative;
    margin-bottom: 2rem;
    width: 80%;
    min-height: 20vh;
    border-radius: 20px;
    background-color: white;
    word-wrap: break-word;
}

.challenge__unfinished {

}

.challenge__finished {
    background-color: var(--success-green);
}

.challenge__paragraph {
    padding: .3rem .6rem .3rem .6rem;
    margin: 0 1rem 0 1rem;
    font-weight: bold;
    background-color: #d6d6d6;
    border-radius: 10px;
}

.challenge__finished-text {
    background-color: #00a315;
}

.challenge__container_status {
    position: absolute;
    bottom: 0;
    font-size: .75rem;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}

.challenge__status {

}

.present_reveal__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    width: 85%;
    border-radius: 10px;
    background-color: var(--dark-green);
    padding-bottom: 1rem;
}

.present_reveal__paragraph {
    padding: .5rem .6rem .5rem .6rem;
    margin: 1.2rem 1rem 1.2rem 1rem;
    font-weight: bold;
    background-color: var(--light-green);
    border-radius: 10px;
}

.present_reveal__btn {
    margin: 1rem 0 3rem 0;
    width: 40%;
    height: 70px;
    font-size: 1.8rem;
    color: #5c5c5c;
}

.present_reveal__btn-blocked {
    background-color: #333333;
    border-top: 6px solid #292929;
    border-left: 6px solid #292929;
    border-right: 6px solid #292929;
    
}

.present_reveal__btn-blocked:hover {
    background-color: #333333;
    color: #aaaaaa;
    border-top: 6px solid #292929;
    border-left: 6px solid #292929;
    border-right: 6px solid #292929;
}

.present_reveal-animation {
    animation: fadeIn 500ms ease-out backwards;
}

@keyframes fadeIn {
    from {
        transform: translateY(-250px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.lobby__container {
    margin-top: 2rem;
}

.lobby__input_container {
    background-color: var(--lighter-gray);
    border-radius: 20px;
    width: 90%;
    margin-bottom: 1rem;
    padding: .8rem;
}

.lobby__input_container > input {
    
}

.joined_lobby__container {
    margin-bottom: 0;
}

.joined_lobby_info__container {
    background-color: var(--white);
    border-radius: 20px;
    width: 70%;
    color: #000000;
}

.joined_lobby_ready__container  {
    width: 70%;
}

#joined_lobby_ready__btn {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 50%;
}

#playerReady {
    margin-bottom: 1rem;
}

.game__container-secondary {
    background-color: var(--darker-red);
    padding: 2rem 0 2rem 0;
    width: 90%;
    border-radius: 20px;
    height: 105vh;
}

.game__container {
    box-shadow: 0 0 4px black;
    width: 90%;
    background-color: var(--dark-gray);
    padding: 2rem 0 2rem 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.game__container_enemy {
    width: 60%;
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.game__container_field {
    width: 100%;
    flex-grow: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 2rem 0;
}

.game__container_main {
    width: 100%;
    background-color: var(--dark-green);
    padding: 2rem 0 2rem 0;
}

.game__player_info {
    background-color: var(--white);
    flex-grow: 2;
    width: 20%;
    font-weight: bolder;
    padding: 1.2rem 2rem 1.2rem 2rem;
    border-radius: 20px;
}

#game__field_info_left {
    background-color: var(--dark-gray);
    margin-right: 3rem; 
    width: 20%;
    font-size: 1.5rem;
}

.game__field_info {
    background-color: var(--lighter-gray);
    flex-grow: 2;
    width: 20%;
    font-weight: bolder;
    font-size: 3.5rem;
    padding: 1.2rem 2rem 1.2rem 2rem;
    border-radius: 30px;
    color: var(--white);
}

.btn-select-type {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: bold;
}

.btn-select-type:first-child {
    margin-top: 20px;
}

.game__turn_info {
    font-size: 2rem;
}

.game__player_info_enemy {
    font-size: 1.5rem;
    background-color: #00a315;
}

.game__turn-inactive {
    background-color: #333333;
    border-top: 6px solid #292929;
    border-left: 6px solid #292929;
    border-right: 6px solid #292929;
}

.game__container_player {
    width: 60%;
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cards_container_main {
    float: left
}

.cards_container {

}

.card {
    border: 2px solid #000000;
    margin: 0;
    width: var(--card-width);
    height: var(--card-height);
    border-radius: 10px;
    background-color: white;

    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url("/img/cards/blue.png");
}

.card-raise {
    transition: 0.5s;
}

.card-raise:hover {
    box-shadow: 0 0 3px black;
    margin-top: -85px;
}

.card-img {
    max-width: 100%;
    max-height: 100%;
}

.card_deck:hover {
    box-shadow: 0 0 5px black;
}

.game__upper_card_container {
    width: var(--card-width);
    margin-right: 3rem;
}

.game__deck_card_container {
    width: var(--card-width);
}

.counter_container {
    margin-top: 2rem;
    width: 30%;
    padding: 0;
}

.counter_inner {
    padding: 1rem 2rem 1rem 2rem;
    margin: 1rem;
    width: 95%;
    height: 95%;
}

/* .player_search_player__container {
    margin-bottom: 2rem;
    width: 50%;
    min-height: 5vh;
    border-radius: 20px;
    background-color: white;
    word-wrap: break-word;
    font-weight: bold;
    font-size: 1.3rem;
} */

/* Navleiste */

.navigation-bar {
    width: 100%;
    height: 50px;
    background-color: black;
    /* font-weight: bold; */
    font-size: 1.1rem;

    /* position: relative; */
}

.navigation-bar ul {
    margin: 0;
    padding: 0;

    /*float: right;*/
}

.navigation-bar ul > li {
    display: inline-block;
    height: 100%;
    padding: 0 .1rem 0 .3rem;
}

.navigation__link {
    /* display: inline-block; */
    text-align: center;
    height: 100%;
    padding: 0 .55rem 0 .55rem; 
}

.anchor-span {
    margin: 0;
    display: inline-block;
    font-weight: lighter;
}

.navigation__link:link {
    color: #fff;
    text-decoration: none;
}

.navigation__link:hover {
    background-color: #141414;
    text-decoration: none;
}

.navigation__link:active {
    color: #f0f0f0;
    text-decoration: none;
}

.navigation__link:visited {
    color: #fff;
    text-decoration: none;
}

/* footer */

.footer {
    width: 100%;
    height: 50px;
    background-color: black;
    font-size: 0.9rem;

}

.footer a {
    color: var(--white);
    float: right;
    height: 100%;
    padding: 0 1rem 0 1rem;
    border-radius: 10px;
}

.footer__link_anchor_container {
    height: 80%;
    background-color: #0c0c0c;
    border-radius: 10px;
    margin: 0 .5rem 0 .5rem;
}

.footer__text_container {
    color: #c4c4c4;
    float: left;
    height: 100%;
    margin-left: 1rem;
}

.footer__link_container {
    float: right;
}
